body{
    background: black;
    margin: 0;
}
.post{
    background: white;
    width: 600px;
    margin: auto;
}
.logo{
    float: left;
}
.title, .footer p{
    padding: 5px;
}
.image{
    width: 100%;
}
